//Example of a file with runtime variables
//When placed besided index.html will change variables in the served app.
window.env = {
    apiUrl: "https://example.com/eduVirt/api",
    ovirtEngineUrl: "https://example.com/"
}